body {
	background-color: hsl(185, 75%, 39%);
}

.main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	/* to include animations later: */
	position: relative;
}

.card {
	background-color: white;
	height: 400px;
	width: 370px;
	border-radius: 5%;
}

.div-head {
	background-image: url("/C:/Users/Marc/Desktop/Marc/WebDev/.1webdeveloperlehrgang/HTML_CSS/profilecard-victor/profile-card/images/bg-pattern-card.svg");
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	width: 370px;
	height: 150px;
	overflow: hidden;
	margin-bottom: -55px;
}

.img-victor {
	border: 7px solid white;
	border-radius: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.person {
	margin-top: 20px;
}

.location {
	text-align: center;
	font-family: Kumbh Sans;
}

.div-footer {
	border-top: solid 1px hsl(0, 0%, 59%);
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.age {
	font-weight: 400;
	color: hsl(0, 0%, 59%);
}

h2,
h3 {
	margin: 5px 0px;
	font-family: Kumbh Sans;
}

h2 {
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}

h3 {
	font-size: 12px;
	font-weight: 400;
	color: hsl(0, 0%, 59%);
}

.social {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
